@{
    ViewBag.Title = "Index";
}

   <ul style="font-size:20px;">
        <li>@Html.ActionLink("Example of Booking for a Diner in MVC4 by Diego Aldo Burlando","Booking","Home")</li>
    
      </ul>
   
